body {
    font-family: "roboto", Helvetica, Arial, sans-serif;
    .container {
        background: url("../images/body-bg.png") repeat 0 0;
        @include box-shadow(0,
        2px,
        4px,
        rgba(0, 0, 0, 0.5));
        padding: 0;
    }
}