$roboto: "../fonts/roboto";
$glyphicons: "../fonts/glyphicons";
$icomoon: "../fonts/icomoon";
@font-face {
    font-family: 'roboto';
    src: url('#{$roboto}/Roboto-Regular-webfont.eot');
    src: url('#{$roboto}/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$roboto}/Roboto-Regular-webfont.woff') format('woff'),
    url('#{$roboto}/Roboto-Regular-webfont.ttf') format('truetype'),
    url('#{$roboto}/Roboto-Regular-webfont.svg#cs_bold') format('svg');
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('#{$glyphicons}/glyphicons-halflings-regular.eot');
    src: url('#{$glyphicons}/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('#{$glyphicons}/glyphicons-halflings-regular.woff') format('woff'),
    url('#{$glyphicons}/glyphicons-halflings-regular.ttf') format('truetype'),
    url('#{$glyphicons}/glyphicons-halflings-regular.svg#cs_bold') format('svg');
}

@font-face {
    font-family: 'icomoon';
    src: url('#{$icomoon}/icomoon.eot');
    src: url('#{$icomoon}/icomoon.eot?#iefix') format('embedded-opentype'),
    url('#{$icomoon}/icomoon.woff') format('woff'),
    url('#{$icomoon}/icomoon.ttf') format('truetype'),
    url('#{$icomoon}/icomoon.svg#cs_bold') format('svg');
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}