.landingPage {
    .item {
        div {
            span {
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 60px 0;
                margin-bottom: 30px;
                @include box-shadow(1px 0 5px $black);
                @include opacity(0.8);
                a {
                    color: $black;
                    text-decoration: none;
                    font-weight: bold;
                    i {
                        @include border-top-radius(50%);
                        @include border-right-radius(50%);
                        @include border-bottom-radius(50%);
                        @include border-left-radius(50%);
                        font-size: 22px;
                        @include size(50px, 50px);
                        padding: 13px;
                        color: $white;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}