.listingPage {
    .block {
        float: left;
        @include size(100%, auto);
        margin: 0 0 20px 0;
        .listImage {
            @include size(100%, auto);
            margin-top: 15px;
            img {
                background-size: 140px, 140px;
                background-color: $white;
                @include size(100%, 120px);
            }
        }
    }
    .trendingListings {
        background-color: $grey;
    }
}