$white: #FFFFFF;
$black: #46616c;
$blue: #03a9f4;
$green: #7eb61f;
$orange: #ffad00;
$red: #ff526e;
$dark-blue: #34495e;
$body-bg: #e0e1e5;
$grey: #dcdcdc;
$dark-blue: #2980b9;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

@mixin box-shadow($top, $left, $blur, $color) {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
}

body {
    .blue {
        background-color: $blue;
    }
    .green {
        background-color: $green;
    }
    .orange {
        background-color: $orange;
    }
    .black {
        background-color: $black;
    }
    .container {
        background: url("images/body-bg.png") repeat 0 0;
        @include box-shadow(0,
        2px,
        4px,
        rgba(0, 0, 0, 0.5));
        padding: 0;
        .header {
            background-color: $green;
            @include border-radius(0);
            .navbar-header {
                padding: 10px 0;
                .logo {
                    background: url("images/logo.png") no-repeat 0 0;
                    height: 40px;
                    width: 170px;
                    float: left;
                }
            }
            .navbar-right {
                li {
                    float: left;
                    padding: 0 15px;
                    a {
                        color: $white;
                        line-height: 24px;
                        padding: 0;
                        margin-top: 15px;
                        &:hover,
                        &:focus {
                            background-color: $green;
                        }
                        i {
                            color: $white;
                            font-size: 22px;
                        }
                    }
                    form {
                        background-color: $white;
                        padding: 0 10px;
                        width: 300px;
                        @include border-radius(5px);
                        margin-top: 12px;
                        position: relative;
                        input {
                            width: 95%;
                            border: none;
                            padding-left: 0;
                            @include box-shadow(0,
                            0,
                            0,
                            rgba(0,
                            0,
                            0,
                            0.5));
                            @include border-radius(0);
                            &:focus {
                                @include box-shadow(0,
                                0,
                                0,
                                rgba(0,
                                0,
                                0,
                                0.5));
                            }
                        }
                        i {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                        }
                    }
                }
            }
            .rightMenu {
                position: absolute;
                top: 100%;
                background-color: $black;
                right: 0;
                width: 200px;
                color: $white;
                opacity: 0.9;
                z-index: 999;
            }
        }
        .landingPage {
            .item {
                div {
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        @include border-radius(50%);
                        height: 150px;
                        width: 150px;
                        color: $white;
                        padding: 35px;
                        text-decoration: none;
                        @include box-shadow(0,
                        2px,
                        4px,
                        rgba(0,
                        0,
                        0,
                        0.5));
                        i {
                            font-size: 22px;
                        }
                    }
                }
            }
            .viewAll {
                height: 50px;
                margin-top: 50px;
                a {
                    @include border-radius(5px);
                    background-color: $black;
                    color: $white;
                    padding: 10px 60px;
                    margin: 0 auto;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
        .footer {
            h5 {
                background-color: $grey;
                padding: 10px 0;
                margin: 0;
            }
        }
    }
}