<nav class="navbar header" ng-controller="headerController">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="pull-left navbar-header"><a href="#"><i class="logo"></i></a></li>
            <li>
                <form class="form-inline float-xs-left">
                    <input class="form-control" type="text" placeholder="Search">
                    <i class="glyphicon glyphicon-search"></i>
                </form>

            </li>
            <li class="pull-right">
                <ul class="navbar-right">
                    <li><button ng-click="switchLanguage('en')" translate="LANG_us"></button>
                        <button ng-click="switchLanguage('sp')" translate="LANG_sp"></button>
                    </li>
                    <li><a href="javascript:void(0)" ng-class="{'active': isActive}" ng-click="activeButton()"><i class="glyphicon glyphicon-star-empty"></i></a></li>
                    <li>
                        <a ui-sref="createListing" translate="createListing"></a>

                    </li>
                    <li><a href="javascript:void(0)" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal"><i class="glyphicon glyphicon-align-justify"></i></a></li>
                </ul>
            </li>
        </ul>
        <div class="horizontal-collapse rightMenu" uib-collapse="isCollapsedHorizontal" horizontal>



            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="{{'listing' | translate}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <ul>
                        <li ng-repeat="item in listing">
                            <a href="#">{{item.name}}</a>
                        </li>
                    </ul>
                </div>

                <div uib-accordion-group class="panel-default" heading="{{'carpool'| translate}}">
                    <ul>
                        <li ng-repeat="item in listing">
                            <a href="#">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
                <div uib-accordion-group class="panel-default" heading="{{'social' | translate}}">
                    <ul>
                        <li ng-repeat="item in listing">
                            <a href="#">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </uib-accordion>



        </div>
    </div>
</nav>