<div class="landingPage" ng-controller="landingController" ng-init="showData()">

    <div class="row text-center">
        <div class="col-lg-12 item">
            <div class="col-lg-4 col-md-4 col-sm-4" ng-repeat="item in listing | limitTo: paginationLimit()">
                <span><a ui-sref="listing"><h5><i class="glyphicon glyphicon-home {{ item.color }}"></i></h5>
                <h5>{{ item.name }}</h5></a></span>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12 viewAll">
            <button ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()" translate="viewAll"></button>
        </div>
    </div>
</div>